*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    line-height: 1.5;
    background-image: url('../image/562d8ea6cbb44503a6879b21f7dadd37.jpg');
}
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background-color: #2c3e50;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    position: relative;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    color: #e4e4e4;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition:.5s;
}

.navbar a:hover::after{
    transform:translateY(0);
    opacity: 1;
}
.search-bar{
    width:250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search-bar input{
    width:100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:#e4e4e4;
    padding-left: 10px;
}
.search-bar input::placeholder{
    color:#e4e4e4;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
}

.head_container{
    
    position: absolute;
    top: 10%;
    left: 7%;
    width: 85%;
    height: 100px;
    
}

.head_container ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.head_container li{
    border: black 1px solid;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    list-style: none;
    background-color: #e4d4d4e8;
}

.container{
    border: black 1px solid;
    color: black;
    position: absolute;
    top: 21%;
    left: 7%;
    width: 85%;
    height: 500px;
    background-color: #64b9ebec;
 
}

h2{
    border: black 1px solid;
    font-size: 28px;
    position: relative;
    margin-top:10px;
    margin-left: 25px;
    width: 10em;
    text-align: center;
    background-color: #9be7e170;
}

.button{
    border: black 1px solid;
    position: relative;
    width: 3em;
    float: right;
    margin-right: 45px;
    border-radius: 10px;
    text-align: center;
    top: -6%;
    background-color: #e2e6deec;
}

.container  .album{
    border: black 1px solid;
    position: relative;
    top: 1%;
    width: 95%;
    margin-left: 2%;
    height: 400px;
    display: flex;
    background-color: #e2e6deec;
    
    
}

.container ul{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    overflow: hidden;
    margin-left: 5%;
    
    
}

.container li{
    position: relative;

    width: 200px;
    height: 200px;
    margin: 15px;
}
.li_image img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.second_container{
  position: absolute;
  top: 85%;
  left: 7%;
  width: 85%;
  border: black 1px solid;
  color: black;
  justify-content: center;
  align-content: center;
  background-color: #64b9ebec;
}

.content{
    position: relative;
    border: 1px solid black;
    width: 95%;
    height: 90%;
    background-color: white;
    margin-top: 2%;
    margin-left:2% ;
    margin-bottom:2%;
    margin-right:2%;
    background-color: #e2e6deec;
}
.song_style{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin :3%;
    margin-top: 5%;
   
    
    
}
.song_style div{
    border: black 1px solid;
    height: 50px;
    text-align: center;
    background-color: #ecd4a7;
    
}

.song_style div p{
    margin-top: 3%;
}

